build/
*.elf
*.objdump
*.d
*.ll
*.hex
*.o
/obj/*
.dvt/
.project
*.log
*.jou
tools/vivado/project/
tools/modelsim/simulate_sc.sh
tools/modelsim/transcript
tools/modelsim/vsim.wlf
tools/modelsim/wlf*
tools/modelsim/wave.do
tools/modelsim/work/
simulation_log/
verilator_log
**/.git_GitHub/
